<!-- views/pages/telecharger.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
	<%- include('../partiels/head.ejs') %>

    <%- include('header-loader.js') %>
	<%- include ('datavisualisation.js') %>

</head>
<body class="container">

<header>
	<%- include('../partiels/header.ejs') %>
</header>

<main>
	
</main>

<footer>
	<%- include('../partiels/footer.ejs') %>
</footer>

</body>
</html>