<!-- views/pages/RD-tests-UIs.ejs -->

<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include("../partiels/head.ejs") %>

  <!--
  /////////////////////# Tests des bibliothèques de data-visualization ///////////////////// 
  
  //////////// Stylisation : thème UIKit 3 ////////////
  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css"> 
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.uikit.min.css"> 

  <!--//////////// Resources scripts pour Charts.js //////////// -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
  <!-- //////////// Resources scripts pour amCharts //////////// -->
  <script src="https://www.amcharts.com/lib/4/core.js"></script>
  <script src="https://www.amcharts.com/lib/4/charts.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script><!-- thème de couleurs froides : bleus, mauve... -->
  <script src="https://www.amcharts.com/lib/4/themes/material.js"></script><!-- thème de couleurs chaudes : rouges, oranges, mauve...-->

  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"></script>

</head>
<body class="container">

<header>
  <nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	    <div class="navbar-header">
	        <ul class="list-group list-group-horizontal">
	          <li class="list-group-item"><button type="button" class="btn btn-light btn-sm active"  aria-pressed="true" onclick="navGoTo('/RDTestsUIs')">Tester R&D</button></li>
	          <li class="list-group-item"><button type="button" class="btn btn-light  btn-sm" onclick="navGoTo('/configurer')">Configurer</button></li>
	          <li class="list-group-item"><button type="button" class="btn btn-light  btn-sm" onclick="navGoTo('/importer')">Importer <span class="badge badge-pill badge-success">&nbsp;</span></button></li>
            <li class="list-group-item"><button type="button" class="btn btn-light  btn-sm "  onclick="navGoTo('/telecharger')">Télécharger <span class="badge badge-pill badge-warning">&nbsp;</span></button></li>
	          <li class="list-group-item"><button type="button" class="btn btn-light  btn-sm" disabled onclick="navGoTo('/generer')">Générer <span class="badge badge-pill badge-warning">&nbsp;</span></button></li>
	        </ul>
	    </div>

	</div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Navbar</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
	      <a class="nav-item nav-link" href="#">Features</a>
	      <a class="nav-item nav-link" href="#">Pricing</a>
	      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	    </div>
	  </div>
	</nav>

    <ul class="nav nav-tabs">
	  <li class="nav-item">
	    <a class="nav-link active" href="/RDTestsUIs">Tester ;-)</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/configurer">Configurer</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/">importer</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" href="/telecharger" tabindex="-1" aria-disabled="true">télécharger</a>
	  </li>
	</ul>

</header>

  <!-- Gestion de la fenêtre modal d"affichage des états des traitements-->
  <%- include("../partiels/peupler-modale.ejs") %>
  <%- include("../partiels/peupler-modale.js") %>


<!--<button class="btn btn-success" type="button" disabled>
      <span><i class="far fa-file"></i></span>
      <span style="position:relative;z-index:2"><i class="fas fa-times"></i></span>
</button>-->

<!-- OK : images dans dossier public des fichiers statiques 
<img left src="unknown-document.png" width="50px" height="50px">
-->

<!--------------- FONCTIONNALITE DE PAGINATION : exemple 2 début ------------------>
<div class="container" style="background:#eee; border-radius: 15px; padding:30px">

    <div class="container" id="content">

    </div>

    <div id="buttonContainer" class="row justify-content-center">
        <button type="button" id="loadMore" class="btn btn-primary">Load 5 more</button>
    </div>

    <div id="pagination" class="row justify-content-center">

    </div>


</div>

<script>
//////////// dataLoader.js 
function loadData() {
    $.ajax({
        url: "/jsonFilmsData",
        type: 'GET',
        dataType: 'json',
        error: function (err) {
            console.log("err = ",err);
        },
        success: function (res) {
            console.log("res = ",res);
            films = (res).films;
            buidPagination(films);
            loadPage(1, films);
            currentPage = 1;
            tmpFilmsArray = films.slice();
            initLoader();
        }
    });
}
loadData();

////////// uiBuilder.js début
 function reloadNavigation() {
     do {
         $(`#_${currentPage+disPointer--}`).removeClass('disabled');
     } while (disPointer != 0)

     load5Button.removeClass('disabled');

     tmpFilmsArray = films.slice();

     disPointer = 1;

     uploaded = false;
 }

 function loadPage(id, filmsArr) {

     if (!id || (currentPage == id && searchStatus != true))
         return;

     reloadNavigation();

     content.html("");

     movePaginationPointer(id);

     currentPage = id;

     var i;

     id == 1 ? i = 0 : i = id * filmsOnPage - filmsOnPage;

     for (i; i < id * filmsOnPage && i < filmsArr.length; i++)
         loadFilm(filmsArr[i]);

 }

 function loadFilm(film) {
     var temp = getTemplate(film);
     $("#content").append(temp);
 }

 function getTemplate(film) {

     return ` <article class="row">
                <img class="col-lg-3 col-sm-3 offset-lg-1 img-thumbnail" src =  onerror="this.src = './img/defaultPoster.jpg'">
                <div class="col-lg-6 col-sm-9 offset-lg-1 row">
                <h4 class="col-lg-12 col-sm-12">${film.Name}</h4>
                <span class="col-lg-12 col-sm-12">${film.Year}</span>
                <span class = "col-lg-12 col-sm-12">Stars: ${film.Stars}</span> 
                <span class="col-lg-12 col-sm-12">Director:${film.Director}</span>
                <span id="description" class="col-lg-12 col-sm-12 lead">Description:${film.Description}</span>
                <button type="button" class="btn btn-dark offset-lg-8 offset-sm-2 col-sm-8 col-lg-3">Watch</button>
                <div>
            </article> `

 }
 ////////////// uiBuilder.js fin
 
 ////////////// pagination.js début
 function createPaginationElement(i, pagination, filmsArr) {
     var pageItem = $("<li></li>")
         .addClass("page-item")
         .attr('id', `_${i+1}`);

     var a = $("<a></a>")
         .addClass("page-link")
         .html(i + 1)
         .click(function () {
             loadPage(i + 1, filmsArr);
             enableLoader();
             if (currentPage == 5)
                 load5Button.addClass("disabled");
         });

     pageItem.append(a);

     pagination.append(pageItem);
 }

 function buidPagination(filmsArr) {
     numOfPages = Math.ceil(filmsArr.length / filmsOnPage);

     paginationBlock.html("");

     var pagination = $("<ul></ul>")
         .addClass("pagination")
     paginationBlock.append(pagination);

     var pageItem = $("<li></li>")
         .addClass("page-item active")
         .attr('id', `_${1}`);

     var a = $("<a></a>")
         .addClass("page-link")
         .html(1)
         .click(function () {
             loadPage(1, filmsArr);
             enableLoader();
         });

     pageItem.append(a);

     pagination.append(pageItem);

     for (var i = 1; i < numOfPages; i++) {
         createPaginationElement(i, pagination, filmsArr)
     }
 }

 function movePaginationPointer(id) {
     if ($(`#_${currentPage}`))
         $(`#_${currentPage}`).removeClass("active");
     if ($(`#_${id}`))
         $(`#_${id}`).addClass("active");
 }
 ////////////// pagination.js fin
 
 ////////////// uiLoader.js début
 var pageLoader = $('<div></div>')
    .attr('id', 'loader')
    .toggle();

 initLoader = () => $("body").prepend(pageLoader);

 enableLoader = function () {
    content.toggle();
    pageLoader.toggle();
    var tL = setTimeout(() => {
        pageLoader.toggle();
        content.toggle();
    }, 500);
 }
 ////////////// uiLoader.js fin
 
 ////////////// main.js début
 //DOM 
 var content = $("#content");
 var searchInput = $("#searchInput");
 var paginationBlock = $("#pagination");
 var load5Button = $("#loadMore");

 //vars 
 var films, tmpFilmsArray, searchIds = new Array();
 var currentPage, numOfPages = 1;
 var searchStatus = false,
     uploaded = false;
 var disPointer = 1;
 var searchText;

 //const
 const filmsOnPage = 5;
 //events
 $(loadData);

 searchInput.keyup(function () {

     searchStatus = true;

     searchIds = new Array();

     load5Button.hide();

     searchText = this.value;

     content.html("");

     films.forEach((x) => {
         for (key in x)
             if (x[key].toString().toUpperCase().includes(searchText.toUpperCase()) && searchText != "" && key != 'Description') {
                 searchIds.push(x);
                 break;
             };
     });

     if (searchText == '') {

         load5Button.show();

         buidPagination(films);

         loadPage(1, films);
     } else {
         buidPagination(searchIds);

         loadPage(1, searchIds);
     }

     searchStatus = false;
 });

 load5Button.click(function () {

     if ($(this).hasClass("disabled"))
         return;

     if (uploaded == false) {
         uploaded = true;
         tmpFilmsArray.splice(0, currentPage * 5);
     } else
         tmpFilmsArray.splice(0, 5);

     $(`#_${currentPage+disPointer++}`).addClass('disabled');

     for (var i = 0; i < filmsOnPage && i < tmpFilmsArray.length; i++)
         loadFilm(tmpFilmsArray[i]);

     if (tmpFilmsArray.length < 5)
         $(this).addClass("disabled");

     enableLoader();

 });
 ////////////// main.js fin

</script>
<!--------------- FONCTIONNALITE DE PAGINATION : exemple 2 fin ------------------>



<!--------------- FONCTIONNALITE DE PAGINATION : exemple 1 début ------------------>
<!-- Script de pagination de cards , sans numérotation de page -->
<div class="container" style="background:#aaa; border-radius: 15px; padding:30px">
    <h1>Pageinator</h1>
    <small>Fonctionnalité de pagination simple (sans numérotation de page, sans choix du nombre d'éléments par page)</small>

    <div id="parent" class="row">

    </div>
    <p>Page: <span id="current">1</span> of <span id="total"></span></p>
    <button class="btn btn-primary" name="back" id="back" onclick="back()">back</button>
    <button class="btn btn-primary" name="next" id="next" onclick="next()">next</button>
</div>

<template id="card-template">
    <div class="col-sm-6 col-md-3">
        <div class="card mb-4">
            <img src="" alt="" class="img-fluid">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <a href="" class="btn btn-primary">Link</a>
            </div>
        </div>
    </div>
</template>

<script>
let data = [{
        name: 'item1',
        img: 'https://loremflickr.com/400/400?lock=41',
        link: 'https://google.com',
        description: "Description to go here"
    },
    {
        name: 'item',
        img: 'https://loremflickr.com/400/400?lock=42',
        link: 'https://google.com',
        description: "Description to go here"
    },
    {
        name: 'item',
        img: 'https://loremflickr.com/400/400?lock=43',
        description: "Description to go here"
    },
    {
        name: 'item',
        img: 'https://loremflickr.com/400/400?lock=44',
        description: "Description to go here"
    },
    {
        name: 'item',
        img: 'https://loremflickr.com/400/400?lock=45',
        description: "Description to go here"
    },
    {
        name: 'item',
        img: 'https://loremflickr.com/400/400?lock=46',
        description: "Description to go here"
    },
    {
        name: 'item',
        img: 'https://loremflickr.com/400/400?lock=47',
        description: "Description to go here"
    },
    {
        name: 'item',
        img: 'https://loremflickr.com/400/400?lock=48',
        description: "Description to go here"
    },
    {
        name: 'item',
        img: 'https://loremflickr.com/400/400?lock=49',
        description: "Description to go here"
    },
    {
        name: 'item',
        img: 'https://loremflickr.com/400/400?lock=410',
        description: "Description to go here"
    },
    {
        name: 'item',
        img: 'https://loremflickr.com/400/400?lock=411',
        description: "Description to go here"
    },
    {
        name: 'item',
        img: 'https://loremflickr.com/400/400?lock=412',
        description: "Description to go here"
    },
    {
        name: 'item',
        img: 'https://loremflickr.com/400/400?lock=413',
        description: "Description to go here"
    },
    {
        name: 'item',
        img: 'https://loremflickr.com/400/400?lock=414',
        description: "Description to go here"
    },
    {
        name: 'item',
        img: 'https://loremflickr.com/400/400?lock=415',
        description: "Description to go here"
    },
    {
        name: 'item',
        img: 'https://loremflickr.com/400/400?lock=416',
        description: "Description to go here"
    },
    {
        name: 'item',
        img: 'https://loremflickr.com/400/400?lock=417',
        description: "Description to go here"
    },
];

var amount = 4;
var current = 0;
var parent = document.getElementById('parent');

var currentSpan = document.getElementById('current');
var totalSpan = document.getElementById('total');

function checkPage(current) {
    if (current <= 0) {
        document.getElementById('back').style.display = "none";
        console.log('current:' + current);
    } else {
        document.getElementById('back').style.display = "inline";
        console.log('current:' + current);
    }
    if ((current + 1) * amount >= data.length) {
        document.getElementById('next').style.display = "none";
    } else {
        document.getElementById('next').style.display = "inline";
    }
};

const generateItems = function (parent, data, current, amount) {
    checkPage(current);
    currentSpan.innerHTML = current + 1;
    totalSpan.innerHTML = Math.floor(data.length / amount) + 1;
    var currentData = data.slice(current * amount, (current + 1) * amount);

    currentData.forEach(element => {
        var template = document.querySelector('#card-template');
        var clone = template.content.cloneNode(true);
        var img = clone.querySelectorAll("img")[0];
        img.setAttribute("src", element.img);
        var h5 = clone.querySelectorAll("h5")[0];
        h5.textContent = element.name;
        var p = clone.querySelectorAll("p")[0];
        p.textContent = element.description;

        var link = clone.querySelectorAll("a")[0];
        if (element.link != null) {

            link.href = element.link;
        } else {
            link.remove()
        }

        parent.appendChild(clone);

    });
    var child = document.createElement('div');
};

function next() {

    if ((current + 1) * amount >= data.length) {
        return;
    }
    var node = document.getElementById('parent');
    node.innerHTML = "";
    current += 1;
    generateItems(parent, data, current, amount);
}

function back() {
    if ((current) * amount <= 0) {
        return;
    }
    var node = document.getElementById('parent');
    node.innerHTML = "";
    current -= 1;
    generateItems(parent, data, current, amount);
}

generateItems(parent, data, current, amount);

</script>
<!--------------- FONCTIONNALITE DE PAGINATION : exemple 1 fin ------------------>



  <!--
  NOK : n'est pas compatible avec Bootstrap v4 !
  <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group date" id="datetimepicker1">
                    <input type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar">Calendar</span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $("#datetimepicker1").datetimepicker();
            });
        </script>
    </div>
  </div>-->
  <!--
  <div class="form-group">
    <label class="control-label"for="db1">CalBox style DateBox</label>
    <input class="form-control" name="db1" type="text" data-role="datebox" data-datebox-mode="calbox" id="db1">
  </div>-->

  

  <!-- Datepicker compatible avec Bootstrap v4-->
  <div class="form-group">
    <label class="control-label">Date de début</label>
    <input id="startDate" width="276" />
  </div>    
  <div class="form-group">
    <label class="control-label">Date de fin</label>
    <input id="endDate" width="276" />
  </div>    

  <div class="card">
    <div class="card-header">
	   <b>Importer</b>
	</div>
	<div class="card-body" style="text-align:center !important">
	    <h5 class="card-title">Special title treatment</h5>
	    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	    <button type="button" class="btn btn-primary" onclick="lancerImportation()">Lancer l"importation</button>
	</div>
  </div>



  <div class="jumbotron">
	  <h1 class="display-4">Hello, world!</h1>
	  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	  <hr class="my-4">
	  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>

  <div class="card" style="width:85%">
    <div class="card-header text-center">
	   Importer...
	</div>
	<div class="card-body text-center">
	  <p><button type="button" class="btn btn-primary " style="max-width:5em">Long texte</button> : avec gestion multiligne</p>
	  <p><button type="button" class="btn btn-primary text-nowrap" style="max-width:5em">Long texte</button> : sans gestion multiligne</p>
	  <p><button type="button" class="btn btn-primary text-nowrap" style="max-width:5em; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">Long texte</button> : sans gestion multiligne ET tronquage customisé</p>
	 
	  <hr>
	  <button type="button" class="btn btn-primary" disabled>Primary</button>
	  <button type="button" class="btn btn-secondary">Secondary</button>
	  <button type="button" class="btn btn-success">Success</button>
	  <button type="button" class="btn btn-danger">Danger</button>
	  <button type="button" class="btn btn-warning">Warning</button>
	  <hr>
	  <button type="button" class="btn btn-info">Info</button>
	  <button type="button" class="btn btn-light">Light</button>
	  <button type="button" class="btn btn-dark">Dark</button>
	  <button type="button" class="btn btn-link">Link</button>
	</div>
  </div>

  <div class="jumbotron">
  	<h1 class="display-4">Boutons</h1>
	  <button type="button" class="btn btn-primary">Primary</button>
	  <button type="button" class="btn btn-secondary">Secondary</button>
	  <button type="button" class="btn btn-success">Success</button>
	  <button type="button" class="btn btn-danger">Danger</button>
	  <button type="button" class="btn btn-warning">Warning</button>
	  <hr>
	  <button type="button" class="btn btn-info">Info</button>
	  <button type="button" class="btn btn-light">Light</button>
	  <button type="button" class="btn btn-dark">Dark</button>
	  <button type="button" class="btn btn-link">Link</button>
	  <hr>
	  Boutons avec spinner/animation d"attente
	  <!-- NOK si utilisation des marges classe m-2 : le texte ne peut pas avoir de margin/padding/align-vertical  via span
	  <button class="btn btn-primary" type="button" disabled >
  		<span style="vertical-align: middle;">Traitement en cours...&nbsp;</span>
  		<span class="spinner-border m-2 spinner-border-sm" role="status" aria-hidden="true"></span>
	  </button>-->
	  <button class="btn btn-primary" type="button" disabled >
  		<span style="vertical-align: middle;">Traitement en cours...&nbsp;</span>
  		<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
	  </button>
	  <button class="btn btn-primary" type="button" disabled>
  		Traitement en cours...&nbsp;<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
	  </button>
	  <button class="btn btn-success" type="button" disabled>
  		Traitement réussi !&nbsp;<span style="font-weight:bolder;color:white"><i class="fas fa-check fa-1x"></i>
	  </button>
	  
	  <p>
	  Bouton au contenu de grande dimension :<BR>
	  <button class="btn btn-success" type="button" disabled>
  		<span style="font-size:2rem">Génial !&nbsp;</span><span style="font-weight:bolder;color:white"><i class="fas fa-check fa-2x"></i></span>
	  </button>
	  </p>

	  <p>
	  <div class="progress">
	    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
	  </div>
	  </p>
	  <p>
	  <div class="progress">
	    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
	  </div>
	  </p>
	  <p>
	  <div class="progress">
	    <div class="progress-bar-animated progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
	  </div>
	  </p>
  </div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Translucent
Toasts are slightly translucent, too, so they blend over whatever they might appear over. For browsers that support the backdrop-filter CSS property, we’ll also attempt to blur the elements under a toast.-->
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded mr-2" alt="...">
    <strong class="mr-auto">Bootstrap</strong>
    <small class="text-muted">11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>


<!-- Stacking
When you have multiple toasts, we default to vertically stacking them in a readable manner.-->
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded mr-2" alt="...">
    <strong class="mr-auto">Bootstrap</strong>
    <small class="text-muted">just now</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    See? Just like this.
  </div>
</div>

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded mr-2" alt="...">
    <strong class="mr-auto">Bootstrap</strong>
    <small class="text-muted">2 seconds ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Heads up, toasts will stack automatically
  </div>
</div>


<!-- Toasts placement -->
<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
  <div class="toast" style="position: absolute; top: 0; right: 0;">
    <div class="toast-header">
      <img src="..." class="rounded mr-2" alt="...">
      <strong class="mr-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>


<div class="jumbotron">
  <h1 class="display-4">Boutons</h1>
	  

  <div class="card">
	  <div class="card-header">
	    L"importation a échoué
	  </div>
	  <div class="card-body">
	    <blockquote class="blockquote mb-0">
	      <div style="float:left"><i class="fas fa-info-circle fa-1x"></i></div>
	      <div style="float:right"><p>La connexion avec le serveur a été interrompue !<BR>Aucune donnée n"a été supprimée sur le serveur</p>
	      <footer>Vérifier l"état de la connexion réseau puis réessayer</footer>
	    </blockquote>
	  </div>
  </div>


  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

</div>

<div class="card text-center">
  <div class="card-header">
 	Composants de formulaires  :
  </div>
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We"ll never share your email with anyone else.</small>

	  <label for="basic-url">Modèle de nommage de fichier de données</label>
	  <div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon3">ex: [date]-[horaire].csv</span>
		  </div>
		  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="max-width:40em">
	  </div>
	  <hr>
	  <label for="basic-url">Modèle de nommage de fichier de données</label>
	  <div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <span class="input-group-text">ex: [date]-[horaire].csv</span>
		  </div>
		  <input type="text" class="form-control" aria-label="Modèle de nommage de fichier de données" style="max-width:40em">
		  <div class="input-group-append">
		    <span class="input-group-text">.csv</span>
	  </div>
	  <hr>
	  <label for="basic-url">Modèle de nommage de fichier de données</label>
	  <div class="input-group mb-3">
		  <input type="text" class="form-control" placeholder="ex: marketing-[date]-[horaire]" aria-label="Modèle de nommage de fichier de données" style="max-width:40em">
		  <span class="input-group-text">.csv</span>
	  </div>

   </div>
 </div>

<HR>
	<form><!-- ATTENTION : n"est pas bien dimensionné s"il est inclus dans un composant de type "card"-->
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3">
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            First radio
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Second radio
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
          <label class="form-check-label" for="gridRadios3">
            Third disabled radio
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-2">Checkbox</div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Example checkbox
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>

<HR>
<h3>Formulaire : éléments valides ou invalides</h3>
<form>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationServer01">First name</label>
      <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer02">Last name</label>
      <input type="text" class="form-control is-valid" id="validationServer02" value="Otto" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServerUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend3">@</span>
        </div>
        <input type="text" class="form-control is-invalid" id="validationServerUsername" aria-describedby="inputGroupPrepend3" required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationServer03">City</label>
      <input type="text" class="form-control is-invalid" id="validationServer03" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationServer04">State</label>
      <select class="custom-select is-invalid" id="validationServer04" required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationServer05">Zip</label>
      <input type="text" class="form-control is-invalid" id="validationServer05" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
      <label class="form-check-label" for="invalidCheck3">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>

<HR>

<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>


<div class="accordion" id="accordionExample">
<div class="card">
<div class="card-header" id="headingOne">
  <h2 class="mb-0">
    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      Collapsible Group Item #1
    </button>
  </h2>
</div>

<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven"t heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven"t heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven"t heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>



<ul id="listeProjets">
 <li>Trucs : 5</li>
 <li>Bidules : 10</li>
 <li>Machins : 10</li>
</ul>

  <div class="card">
    <div class="card-title">
      <h3>Affichage de MODALES AVEC CONFIRMATION, aux contenus différents (via une bibliothèque)</h3>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-primary" onclick="demanderSupprimerTrucs()">
       Supprimer les trucs ?<i class="fas fa-database"></i>
      </button>
      <button type="button" class="btn btn-primary" onclick="demanderSupprimerBidules()">
       Supprimer les bidules ?<i class="fas fa-database"></i>
      </button>
    </div>
  </div>

  <div class="card">
    <div class="card-title">
      <h3>Affichage de MODALES inclus dans le code HTML de la page</h3>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalMesEtats" onclick="showModalMesEtats(event)">
      Launch demo modal
      </button>
    </div>
  </div>

<div class="modal fade" id="modalMesEtats" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- DEV TEST-->
<button type="button" class="btn btn-primary" onclick="testerAfficherModalEtat()" data-target="#">
  Démo : tester "bo>peupler-modale"
</button>


<!-- Test de Chart.js -->
  <div class="card">
    <div class="card-header">
     <b>Essai : Chart.js</b>
  </div>
  <div class="card-body" style="text-align:center !important">
    <canvas id="myPieChart" width="400" height="400"></canvas>
    <HR>
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  </div>


  <!-- Test de amCharts -->
  <div class="card" width="1000px"> <!-- largeur : homogénéise tous les composants implémentés -->
    <div class="card-header">
     <b>Essai : amCharts (free licence <a href="https://www.amcharts.com/" target="_blank">amCharts</a></b>
    </div>
    <div class="card-body" style="text-align:center !important"><!--body start-->

      <label>Distribution du dénombrement des pages (cliquer une partie pour une vue "explosée")</label>
      <div id="div-chartPieComparatifPages">
      </div>

      <HR>
      <label>Distribution du dénombrement des pages : sur un cambembert "à deux échelles"</label>
      <div id="div-chartDraggingPieSlices">
      </div>
   
      <HR>
      <label>Distribution du dénombrement des composants UI : simple graphe en bâtons</label>
      <div id="div-chartSimpleColumns">
      </div>

      <HR>
      <label>Distribution du dénombrement des composants UI : graphe en bâtons regroupés et triés</label>
      <div id="div-chartGroupAndSortedColumns">
      </div>

      <HR>
      <label>TABLEAU DE DONNEES : ensemble des jeux de données des sessions</label>
      <!-- Démo source : https://datatables.net/examples/data_sources/js_array.html ; très similaire : https://datatables.net/examples/ajax/simple.html -->
      <table id="tableauJeuxDonneesSessions" class="display" width="100%"></table>

      <HR>
      <label>TABLEAU DE DONNEES : dénombrement des pages</label> 
      <BR>
      <small>
        TODO : ajouter un style background:gris clair ou couleur pastel, des cellules de header, en alternances (élément DOM : th), via JQuery ?= 1) boucler élt dans $("#tableauSyntheseDnmbrmntPages > "firstChild" | "premier tr" ) ; 2) si rang de boucle est pair modifier son style.
      </small>
      <!-- Démo source : https://datatables.net/examples/advanced_init/complex_header.html -->
      <!-- Quid d'attribution via Ajax : modifier via JQuery le contenu du tableau, selon le résultat reçu au format JSON -->
      <table id="tableauSyntheseDnmbrmntPages" class="display" width="100%">
        <thead>
            <tr>
                <th rowspan="2"></th>
                <th colspan="4">PrevisionsPage</th>
                <th colspan="2">CreditsWeatherDataModal</th>
                <th colspan="1">StationsFavoritesModal</th>
            </tr>
            <tr>
                <!-- cellule occupée par th #1-->
                <th>btnMenu</th>
                <th>btnGeoloc</th>
                <th>btnAjouterFavoriteRefuse</th>
                <th>btnAjouterFavoriteAccepte</th>
                <th>lienFournisseurDS</th>
                <th>lienFournisseurYW</th>
                <th>btnFermer</th>
            </tr>
        </thead>
        <tbody>
          <tr>
              <td><b>Total</b></td>
              <td>80</td>
              <td>57</td>
              <td>0</td>
              <td>7</td>
              <td>4</td>
              <td>3</td>
              <td>64</td>
          </tr>
      </table>

      <HR>
      <label>TABLEAU DE DONNEES : dénombrement des pages synthèses des sessions</label>
      <!-- Quid d'attribution via Ajax : modifier via JQuery le contenu du tableau, selon le résultat reçu au format JSON -->
      <!-- Stylisation : thème UIKit 3 ( liés à https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css ; https://cdn.datatables.net/1.10.20/css/dataTables.uikit.min.css ) -->
      <table id="tableauSyntheseSessions" class="uk-table uk-table-hover uk-table-striped" " width="100%">
        <thead>
            <tr>
                <th>maxDureeSession</th>
                <th>minDureeSession</th>
                <th>moyDureeSession</th>
                <th>MoyNbPagesParSession</th>
                <th>moyNbCmpsntUINonDstnct</th>
            </tr>
        </thead>
        <tbody>
          <tr>
              <td>02:38:30</td>
              <td>00:00:00</td>
              <td>00:04:42</td>
              <td>2,90</td>
              <td>7,30</td>
          </tr>
      </table>
   </div><!--body end-->
  </div>



</main>


<footer>
  <%- include("../partiels/footer.ejs") %>
</footer>

</body>
</html>



<!-- //////////// Styles pour amCharts ////////////-->
<style>
#div-chartPieComparatifPages {
  width: 100%; 
  height: 500px;
}
#div-chartDraggingPieSlices {
  width: 100%;
  height: 500px;
}


#div-chartSimpleColumns {
  width: 100%; 
  height: 500px;
}
#div-chartGroupAndSortedColumns {
  width: 100%; 
  height: 500px;
}

<!-- Styles surchargeant le composant "datatables"-->
#tableauJeuxDonneesSessions_wrapper, #tableauSyntheseDnmbrmntPages_wrapper, #tableauSyntheseSessions_wrapper { 
// Hack qui fixe la suppression du HScroll si le tableau contient trop de grande colonnes
  // NOK overflow-x: scroll !important; 
  width: 1000px !important;
}
.dataTables_wrapper{
  overflow-x: scroll !important; 
}


#tableauJeuxDonneesSessions tbody th, #tableauJeuxDonneesSessions tbody td{ 
// Définir le retour à la ligne pour les plus longues cellules
  overflow-wrap: break-word;
  overflow: visible;
  text-overflow: initial !important;
  white-space: pre-wrap;
  max-width: 200px;
  padding: 8px 10px;
}

</style>

<%- include("RD-tests-UIs.js") %>