<!-- views/pages/telecharger.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
	<%- include('../partiels/head.ejs') %>

    <%- include('utils-ajax.js') %>
    <%- include('header-loader.js') %>
	<%- include ('telecharger.js') %>

</head>
<body class="container">

<header>
	<%- include('../partiels/header.ejs') %>
</header>

<!-- Gestion de la fenêtre modal d'affichage des états des traitements-->
<%- include('../partiels/peupler-modale.ejs') %>
<%- include('../partiels/peupler-modale.js') %>

<main>

	<div class="text-center estMontre" id="div-dernierFichier-estVide">
	  <img class="text-center" style="margin:10px 0" src="file.svg" width="64px" height="64px">
	  <p class="text-center">Aucun fichier généré pendant cette session.</p>
	  <!-- alternatives à valider : 
	  - Un fichier sera disponible s'il est généré.
	  - Aucun fichier généré lors de cette session.
	  -->
	</div>

	<div class="card text-center estCache" id="div-dernierFichier-nonVide">	
	  <div class="card-body">
	  	<!-- Cas : un fichier généré  -->
		<button id="btn-downloadDernierFichierCsv" type="button" class="btn btn-primary btn-lg btn-block" onclick='lancerTelechargement()'><i class="fas fa-download"></i><!--Peuplé via ajax : [nom du fichier]--></button>
		<h6 id="h6-detail-downloadDernierFichierCsv"><!--Peuplé via Ajax
			Fichier généré <b>lors de cette session</b>[creaDateHoraireHuman]<BR>
			<b>Poids : </b>[poids]-->
		</h6>
		<!-- -->

		<!-- Cas : aucun fichier  -->
		<!--<h6><i class="fas fa-exclamation-circle"></i> Pas de fichier généré actuellement !</h6>-->
		<!-- -->
	  </div>
	</div>
	
	<h6 style="background: #cecece; border-radius:5px; padding: 10px">
		Historique des fichiers générés
	</h6>

	

	<div class="text-center estMontre"  id="div-listFichier-estVide">
	  <img class="text-center" style="margin:10px 0" src="unknown-document.svg" width="64px" height="64px">
	  <p class="text-center">L'historique est vide pour l'instant.</p>
	  <!-- alternatives à valider : 
	  - L'historique est vide pour l'instant ! (on le rempli ?)
	  - Pas de fichier disponible ! (rien de grave)
	  - L'historique ne contient aucun fichier ! (tout arrive à qui sait attendre)
	  -->
	</div>
	<!-- UI / UX : fonctionnalité supplémentaire à noter sur prototype itération #2 :
	Regrouper les éléments (dhistrorique) sous des onglets de l'UI accordéon (cf generer.ejs > collapseOne ) . L'option offre ces choix : Aucun / Par mois / Par an :  Selon un btn-group (cf https://getbootstrap.com/docs/4.4/components/button-group/)
	-->
	
	<ul class="estCache"  id="ul-listFichier-nonVide">
	  <!-- 
	  //////////////////////////////// POC prototype vertical : début ////////////////////////////////
	  <li class="historiqueFichier-li d-flex flex-row">
	  	<div class="pr-4">
	  	  <button type="button" class="btn btn-primary p-4" onclick="lancerTelechargement(1)"><i class="fas fa-download"></i></button>
	  	</div>
	  	<div class="pr-4">
	  	  2020-2-5-15-46-3.csv<BR>
	  	  Généré le 05/02/2020 à 15:46:03<BR>
	  	  44 ko
	  	</div>
		<div>
		  Première donnée <span class="badge badge-primary badge-pill">Sam 04 Janv 2020 11:53</span><BR>
		  Dernière donnée <span class="badge badge-primary badge-pill">Lun 02 Févr 2020 18:44</span><BR>
		  Nombre d'actions d'utilisateurs <span class="badge badge-primary badge-pill">452</span><BR>
		  Nombre de sessions d'utilisateurs <span class="badge badge-primary badge-pill">57</span><BR>
		</div>
	  </li>
	  <li class="historiqueFichier-li d-flex flex-row">
	  	<div class="pr-4">
	  	  <button type="button" class="btn btn-primary p-4" onclick="lancerTelechargement(1)"><i class="fas fa-download"></i></button>
	  	</div>
	  	<div class="pr-4">
	  	  2020-2-3-22-42-32.csv<BR>
	  	  Généré le 03/02/2020 à 22:42:32<BR>
	  	  54 ko
	  	</div>
		<div>
		  Première donnée <span class="badge badge-primary badge-pill">Sam 3 Févr 2020 11:53</span><BR>
		  Dernière donnée <span class="badge badge-primary badge-pill">Lun 4 Mars 2020 18:44</span><BR>
		  Nombre d'actions d'utilisateurs <span class="badge badge-primary badge-pill">345</span><BR>
		  Nombre de sessions d'utilisateurs <span class="badge badge-primary badge-pill">67</span><BR>
		</div>
	  </li>
	  //////////////////////////////// POC prototype vertical : fin ////////////////////////////////
	  -->
	</ul>

</main>

<footer>
	<%- include('../partiels/footer.ejs') %>
</footer>

</body>
</html>