<!-- views/pages/configurer.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- Dépendances EJS, CF suite en fin de script :-->
  <%- include('../partiels/head.ejs') %>
  
  <!-- Dépendances JS : -->
  <%- include("utils-ajax.js") %>
  <%- include("header-loader.js") %>
  <%- include("configurer.js") %>
</head>
<body class="container">

<header>
  <%- include('../partiels/header.ejs') %>
</header>

<!-- Gestion de la fenêtre modal d'affichage des états des traitements-->
<%- include('../partiels/peupler-modale.ejs') %>
<%- include('../partiels/peupler-modale.js') %>

<main>
  <!-- TODO : placer dans un fichier indépendant peupler-toast.ejs et peupler-toast.js -->
  <div id="toastEtatsTrts" style="display:none" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <!--<img src="..." class="rounded mr-2" alt="...">-->
      <strong id="toastEtatTrts-titre" class="mr-auto"></strong>
      <!--<small id="toastEtatTrts-soustitre" class="text-muted">11 min</small>-->
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="toastEtatTrts-contenu" class="toast-body">
    </div>
  </div>


  <!-- DEV TEST
  <div>test_paramsConfig.param1 : < %= test_paramsConfig.param1 % ></div>
  <div>test_paramsConfig.param2 : < %= test_paramsConfig.param2 % ></div>-->
  <div class="card text-center">
  
    <div class="card" width="1000px"> <!-- largeur : homogénéise tous les composants implémentés -->
    <!--page's card start-->

      <h5 class="panneauDescription-titre">Connexion à <em>Firebase Database</em></h5>
      
      <div class="card-body" style="text-align:center !important"><!-- body start-->
        
        <label for="databaseUrl">URL de database</label><!-- DesignUI : OK -->
        <div class="input-group mb-3">
          <input type="text" aria-label="URL de database" class="form-control full-width" id="input-databaseUrl" maxlength="100">
          <!-- TODO : à implémenter 
            <div class="alert alert-warning full-width" role="alert">Le format d'écriture d'URL est incorrecte !</div>
          -->
        </div>

        <label for="serviceAccount">Nom du fichier serviceAccount</label><!-- DesignUI : OK -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">/src/assets/</span>
          </div>
          <input type="text" aria-label="URL de database" class="form-control  full-width" id="input-serviceAccount" maxlength="100">
          <!-- TODO : à implémenter <div class="alert alert-warning  full-width" role="alert">Le format d'écriture du fichier est incorrecte !</div>-->
        </div>

        <div class="alert alert-warning estCache" role="alert" id="div-msgEchec-validateurCnxFbDb">Connexion impossible : vérifiez la <b>connexion au réseau</b>, ainsi que <b>l'URL</b> et <b>le nom de fichier</b> !</div>
        <!-- TODO : lors du click effectuer le test de validation général PUIS afficher toast de confirmation seulement si OK -->
        <button id="submit" type="button" class="btn btn-primary btn-lg btn-block"  id="btn-enreg-validateurCnxFbDb" onclick='setConfiguration()'>Enregistrer</button>
      
      </div><!-- body end-->
    </div>
  </div><!--page's card end-->
  <BR>
</main>

<footer>
  <%- include('../partiels/footer.ejs') %>
</footer>

</body>
</html>