<!--MIT License

Copyright (c) 2020 FRANÇOIS GARDIEN

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.-->

<!-- views/pages/importer.ejs -->

<!DOCTYPE html>
<html lang="fr">
<head>

  <link rel="stylesheet" href="importer.css" type="text/css">
 	<%- include('../partiels/head.ejs') %>
   <!--See other EJS dependancies at end of the script-->
  
  <!--Javascript dependancies-->
  <%- include("header-loader.js") %>
  <%- include("utils-ajax.js") %>
  <%- include ('commun-ui.js') %>
  <%- include ('validateurs-input.js') %>

  <%- include ('../partiels/animer-toggleCollapse.js') %>

</head>
<body class="container">

<header>  
  <%- include('../partiels/header.ejs') %>
</header>

<!--Modals features used to display messages about server's working-->
<%- include('../partiels/peupler-modale.ejs') %>
<%- include('../partiels/peupler-modale.js') %>

<main>
  <div class="card-body text-center">
      <p id="infoMockData" class="estCache"><span class="badge badge-pill badge-warning"><i class="fas fa-database fa-1x"></i></span> <em>Mock data are enabled (see .env file to disable it)</em></p>
      <p id="accessFbDbStateSuccess" class="estCache"><span class="badge badge-pill badge-success"><i class="fas fa-database fa-1x"></i></span> <em>Firebase Database</em> is available</p>
	    <p id="accessFbDbStateFailed" class="estCache"><span class="badge badge-pill badge-danger"><i class="fas fa-exclamation fa-1x"></i></span> <em>Firebase Database</em> is unavailable</p>
  </div>

  <div class="card text-center" style="max-width:70rem;text-align:center">
  
    <!-- Heading #1 IMPORT : Start date -->
    <div class="card-header" id="enteteUn">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#depliageUn" aria-expanded="true" aria-controls="depliageUn" onclick="toggleCollapse('btn-collapseUn-chevron')">
          <i class="fas fa-database"></i> Import a data set <i  id="btn-collapseUn-chevron" class="fas fa-chevron-circle-right"></i>
        </button>
      </h2>
    </div>
  

    <div id="depliageUn" class="collapse text-center" aria-labelledby="enteteUn">
      <div class="card-body text-center" >
        
        <!-- /////////////// Bloc importer : bouton et  message-->
        <fieldset id="fldst-importer-dates">
          <legend class="text-left estGrise" id="legend-fieldset-selectionPeriodeDonnees">
            1) Select the date range to import or "Import all data"
          </legend>
          <div class="form-row">
            <div class="form-group col-auto" id="div-inpt-dateMinLimite" style="min-width:350px"><!--Style min-width : homogénise les 2 état de "inpt-dateMaxLimite" estMontre|estCache-->
              <div class="form-row">
                <label for="inpt-dateMinLimite">Start date (included)</label>
                <input id="inpt-dateMinLimite" onchange="onChange_validerDates()" onkeydown="onKeyDown_datePicker(event)" />
              </div>
              <div class="form-row">
                <button type="button" class="btn btn-primary btn-block" data-toggle="button" aria-pressed="false" onclick="onClick_btnTgglDateLimite(event)" id="btn-tggl-DatePlusAncienne-Min">Oldest data  <i class="fas fa-check text-light estCache" id="icon-btn-tggl-DatePlusAncienne-Min-chkd"></i><i class="far fa-square text-light estMontre" id="icon-btn-tggl-DatePlusAncienne-Min-unchkd"></i></button>
              </div>
              <div class="alert alert-warning width-max-400 estCache" role="alert" id="div-errorMsg-dateMinLimite"></div>
            </div>
            <div class="form-group col-auto" id="div-inpt-dateMaxLimite" style="padding-left:15px;min-width:350px"><!-- min-width style : making identical the 2 states of "inpt-dateMaxLimite" : estMontre|estCache -->
              <label for="inpt-dateMaxLimite">End date (included)</label>
              <input id="inpt-dateMaxLimite" onchange="onChange_validerDates()" onkeydown="onKeyDown_datePicker(event)"/>
              <div class="form-row">
                <button type="button" class="btn btn-primary btn-block" data-toggle="button" aria-pressed="false" onclick="onClick_btnTgglDateLimite(event)" id="btn-tggl-DatePlusRecente-Max">Latest data  <i class="fas fa-check text-light estCache" id="icon-btn-tggl-DatePlusRecente-Max-chkd"></i><i class="far fa-square text-light estMontre" id="icon-btn-tggl-DatePlusRecente-Max-unchkd"></i></button>
              </div>
              <div class="alert alert-warning  width-max-400 estCache" role="alert" id="div-errorMsg-dateMaxLimite"></div>
            </div>
          </div>
          <p class="text-left">OR</p>
          <div class="form-group text-left">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="cbToutesDonnees" onclick="onClick_cbToutesDonnees(event)">
              <label class="form-check-label" for="cbToutesDonnees">Import all the data</label>
            </div>
          </div>
          <div class="invalid-feedback"></div>
          <div class="alert alert-warning estCache" role="alert"></div>
        </fieldset>
        
        <fieldset>
          <legend class="text-left estGrise" id="legend-fieldset-importerDonnees">
            2) Launch import :
          </legend>
          <div class="text-left" id="div-cmd-importer">
            <div class="alert alert-warning  width-max-400 text-center estCache" role="alert" id="div-errorMsg-btn-imprtrJD"></div>
            <div class="form-row">
              <div class="form-group col-auto">
                <button type="button" class="btn btn-primary btn-spinner-sl estCache" onclick="onSubmitImporter(false)" id="btn-imprtrJD">
                 Launch import <i class="fas fa-database"></i> <span class="spinner-border spinner-border-sl button-info-spinner estCache" role="status" aria-hidden="true" id="spinner-btn-imprtrJD"></span> </button>
                <p class="text-center rounded bg-grey-medium p-3 estCache width-max-400" id="p-subTitle-btn-imprtrJD"></p><!---Textual filling by Javascript-->
              </div>

          </div>

        </fieldset>
        
  <fieldset>
          <legend class="text-left estGrise" id="legend-fieldset-jeuDonnees">
            3) Check your data set
          </legend>

          <pre class="panneauDescription-contenu-wrapper panneauDescription-contenu-interneScrollable estCache" id="pre-wrapper-codeJeuDonnees"><i class="fas fa-exclamation-circle fa-3x estMontre" id="icon-codeJeuDonnees"></i><div id="div-content-codeJeuDonnees"></div></pre>

          <div id="div-metadonneesJeuDonnees" class="estCache">
            <h5 class="panneauDescription-titre"><i class="fas fa-info-circle"></i>&nbsp;Metadata (of imported data) :</h5>
            <!-- Ou tachometer-alt -->
            <div class="panneauDescription-contenu-wrapper">
              <div id="" class="card-body text-left estMontre">
                <h5>First data <span class="badge badge-pill badge-info" id="metadonneesJeuDonnees-span-dateDebut"></span></h5> 
                <h5>Last data <span class="badge badge-pill badge-info" id="metadonneesJeuDonnees-span-dateFin"></span></h5>
                <h5>Count of user's actions <span class="badge badge-pill badge-info" id="metadonneesJeuDonnees-span-nbAU"></span></h5>
                <h5>Count of user's sessions <span class="badge badge-pill badge-info" id="metadonneesJeuDonnees-span-nbSU"></span></h5>
              </div>
            </div>
          </div>
        
        </fieldset>
      
      </div>
    </div>
    <!-- Heading #1 IMPORT : fin -->

    
    <!-- Heading #2 GENERATE : Start date -->
    <div class="card-header" id="enteteDeux">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#depliageDeux" aria-expanded="true" aria-controls="depliageDeux" onclick="toggleCollapse('btn-collapseDeux-chevron')">
          <i class="fas fa-cogs"></i> Generate the CSV-text file <i id="btn-collapseDeux-chevron" class="fas fa-chevron-circle-right"></i>
        </button>
      </h2>
    </div>

    <div id="depliageDeux" class="collapse" aria-labelledby="enteteDeux">

      <div class="card-body text-left" >
        <!-- Contenu :-->
        <label for="basic-url"><em>Compose a pattern using <B>only</b> the keywords below, <b>delimited by </b><kbd>-</kbd></em>
          <ul class="list-unstyled">
            <!-- TODO : intégrer le formatage des puces dans une feuille de syle globale "globales.css"
              passer les mots-clés en style "code" -->
            <li style="margin-left:1em"><kbd onclick="addTag(event)">dateFr</kbd> current date, eg: 20-10-2020</li>
            <!--<li style="margin-left:1em"><kbd>dateFR</kbd> date actuelle, exemple d'écriture : 20-10-2020</li>-->
            <li style="margin-left:1em"><kbd onclick="addTag(event)">dateUs</kbd> current date, eg: 2020-20-10</li>
            <li style="margin-left:1em"><kbd onclick="addTag(event)">horaire</kbd> current time, eg: 11-22-00</li>
            <li style="margin-left:1em"><kbd onclick="addTag(event)">nbActions</kbd> count of user's actions, eg: 500AU</li>
            <li style="margin-left:1em"><kbd onclick="addTag(event)">nbSessions</kbd> count of user's sessions, eg: 30SU</li>
            <li style="margin-left:1em"><kbd onclick="addTag(event)">-</kbd>&nbsp;&nbsp;separator character</li>
          </ul>
        </label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-rounded btn-primary btn-sm" onclick="actionModeleFichierCSV(0)"><i class="fas fa-times fa"></i></button>
          </div>
          <input type="text" class="form-control" aria-label="Modèle de nommage de fichier de données" style="max-width:40em" placeholder="ex: dateFR-horaire.csv" id="inpt-modeleFichierCSV" onchange="onChange_enregistrerModeleFichierCSV(event)">
          <div class="input-group-append">
            <span class="input-group-text">.csv</span>
          </div>
          <button type="button" class="btn btn-primary btn-sm" onclick="actionModeleFichierCSV(1)">Save <i class="fas fa-check text-success estCache" id="icon-enregModelFich-fait"></i><i class="fas fa-times text-danger estCache" id="icon-enregModelFich-erreur"></i>
          </button>
        </div>
        <div class="alert alert-warning estCache" role="alert" id="div-errorMsg-btn-enregModelFich"></div>
      </div>

      <div class="card-body text-left" >
        <button type="button" class="btn btn-primary btn-lg btn-block estCache" onclick="lancerGenererCSV()" id="btn-gnrrFchr">
          Generate the file<i class="fas fa-cogs"></i></i>
        </button>
      </div>
    </div>
    <!-- Heading #2 GENERATE : end -->


  </div>


</main>

<footer>
  <%- include('../partiels/footer.ejs') %>
</footer>

</body>
</html>
<%- include ('importer.js') %>